    {
    "logging": {
        "version": 1,
        "disable_existing_loggers": false,
        "formatters": {
            "single-line": {
                "class": "logging.Formatter",
                "style": "{",
                "datefmt": "%I:%M:%S",
                "format": "{levelname:8s}; {asctime:s}; {name:<15s} {lineno:4d}; {message:s}"
            }
        },
        "handlers": {
            "console": {
                "level": "DEBUG",
                "class": "logging.StreamHandler",
                "formatter": "single-line",
                "stream": "ext://sys.stdout"
            }
        },
        "loggers": { 
            "main": {
                "level": "DEBUG",
                "handlers": ["console"],
                "propagate": false
            }
        },
        "root": {
            "level": "INFO",
            "handlers": ["console"]
        }
    }
}